<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Employees</h1>
    Employee id:  {{id}}

    <form action="/admin/addJob" method="POST">
        <input type="text" name="jobTitle" placeholder="Job Title" required hidden> <br>
        <input type="text" name="jobTitle" placeholder="Job Title" required> <br>

        <input type="number" name="salaryPm" placeholder="Salary Per Month" required> <br>
        <input type="number" name="monthlyHours" placeholder="Monthly Hours" required> <br>
        <input type="submit"> 
    </form>
</body>
</html>